<!-- Beginning UserfileTest view definition -->
<%
var $ = AD.jQuery;

// This is SERVER side, so let's make displaying labels easier:
// use:  < %- L('[labelKey]') % >
var L = function(key) { return data.labels.getLabel(key); };
var pL = function(prependText, key) {
    // prepend the given text to the result of the label
    var label = $(L(key)).prepend(prependText);
    return $('<div>').append(label).html();
};
%>

<style type="text/css">
    .userfile-test .control-group > div {
        max-width: 500px;
        margin: 1em auto;
    }
    #upload-reset {
        margin: 3em auto;
        width: 5em;
        display: block;
    }
    .progress .bar {
        margin-left: 0;
        margin-right: 0;
    }
</style>

<form class="userfile-test form-horizontal">

    <div class="control-group">
        <label class="control-label" for="upload-widget-container">
            File Upload Widget
        </label>
        <div id="upload-widget-container"></div>
    </div>

    <div class="control-group">
        <label class="control-label" for="upload-details">
            Details
        </label>
        <div id="upload-details"></div>
    </div>

    <button type="button" class="btn" id="upload-reset">Reset</button>


</form>