<%
///// NOTE:  on the server, EJS uses < %- to return unescaped strings
/////        on the client  EJS uses < %== 
// This is CLIENT SIDE, so let's make displaying labels easier:
// use: < %==  L('[labelKey]') % >   // note there is no ';' at the end!
var L = function(key) { return AD.Lang.Labels.getLabelHTML(key); };

//// Alternativly you can add these attributes:
//   appdTitleKey="[label.key]"  for elements that have a title and you want 
//                               the contents to be multilingual
//   appLabelKey="[label.key]"   for elements whose contents (el.html()) 
//                               should be the multilingual info
%>
	<div class="control-group dynamic">
		<label class="control-label" for="key"><%= model.attribute_label %></label>
		<div class="controls">
			<input id="<%= model.attribute_column %>" type="text" data-bind="<%= model.attribute_column %>" />
		</div>
	</div>
