<!-- Beginning attributeDetails view definition -->
<%
///// NOTE:  on the server, EJS uses < %- to return unescaped strings
/////        on the client  EJS uses < %== 
// This is CLIENT SIDE, so let's make displaying labels easier:
// use: < %==  L('[labelKey]') % >   // note there is no ';' at the end!
var L = function(key) { return AD.Lang.Labels.getLabelHTML(key); };

//// Alternativly you can add these attributes:
//   appdTitleKey="[label.key]"  for elements that have a title and you want 
//                               the contents to be multilingual
//   appLabelKey="[label.key]"   for elements whose contents (el.html()) 
//                               should be the multilingual info
%>

<h2>Attribute Details</h2>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="attribute_column">Column</label>
        <div class="controls">
            <input type="text" placeholder="person_surname" data-bind="attribute_column" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="attribute_datatype">DataType</label>
        <div class="controls">
            <input type="text" placeholder="name_id" data-bind="attribute_datatype" />
            TODO: select box?
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="meta">Meta</label>
        <div class="controls">
            <input type="text" placeholder="???" data-bind="Meta" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="attribute_permission">Permission</label>
        <div class="controls">
            <input type="text" placeholder="???" data-bind="attribute_permission" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="attribute_uniqueKey">Unique Key</label>
        <div class="controls">
            <input type="checkbox" data-bind="attribute_uniqueKey" />
        </div>
    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-primary submit">Save</button>
        <button type="button" class="btn cancel">Cancel</button>
    </div>
</form>