<!-- Beginning attributeSetDetails view definition -->
<%
///// NOTE:  on the server, EJS uses < %- to return unescaped strings
/////        on the client  EJS uses < %== 
// This is CLIENT SIDE, so let's make displaying labels easier:
// use: < %==  L('[labelKey]') % >   // note there is no ';' at the end!
var L = function(key) { return AD.Lang.Labels.getLabelHTML(key); };

//// Alternativly you can add these attributes:
//   appdTitleKey="[label.key]"  for elements that have a title and you want 
//                               the contents to be multilingual
//   appLabelKey="[label.key]"   for elements whose contents (el.html()) 
//                               should be the multilingual info
%>

<h2>Attribute Set Details</h2>

<form class='form-horizontal'>
    <div class='control-group'>
        <label class='control-label' for='attributeset_relation'>Relation</label>
        <div class='controls'>
            <input type="text" placeholder="one" data-bind="attributeset_relation" />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='attributeset_uniqueKey'>Unique Key</label>
        <div class='controls'>
            <input type="checkbox" data-bind="attributeset_uniqueKey" />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='attributeset_key'>Key</label>
        <div class='controls'>
            <input type="text" placeholder="name" data-bind="attributeset_key" />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='attributeset_pkey'>Primary Key</label>
        <div class='controls'>
            <input type="text" placeholder="person_id" data-bind="attributeset_pkey" />
        </div>
    </div>
    <div class='control-group'>
        <button class='btn btn-primary submit'>Save</button>
        <button class='btn cancel'>Cancel</button>
    </div>
</form>
