<!-- Beginning attributeSetDetails view definition -->
<%
///// NOTE:  on the server, EJS uses < %- to return unescaped strings
/////        on the client  EJS uses < %== 
// This is CLIENT SIDE, so let's make displaying labels easier:
// use: < %==  L('[labelKey]') % >   // note there is no ';' at the end!
var L = function(key) { return AD.Lang.Labels.getLabelHTML(key); };

//// Alternativly you can add these attributes:
//   appdTitleKey="[label.key]"  for elements that have a title and you want 
//                               the contents to be multilingual
//   appLabelKey="[label.key]"   for elements whose contents (el.html()) 
//                               should be the multilingual info
%>

<h2>Attribute Set Details</h2>

<table>
  <tr>
    <td>table</td>
    <td><input id='attributeset_table'></input></td>
  </tr>
  <tr>
    <td>relation</td>
    <td><input id='attributeset_relation'></input></td>
  </tr>
  <tr>
    <td>uniqueKey</td>
    <td><input id='attributeset_uniqueKey'></input></td>
  </tr>
  <tr>
    <td>key</td>
    <td><input id='attributeset_key'></input></td>
  </tr>
  <tr>
    <td>pkey</td>
    <td><input id='attributeset_pkey'></input></td>
  </tr>
</table>

<button class='btn btn-save'>Save</button>
