<!-- Beginning Dbadmin view definition -->
<%
var $ = AD.jQuery;

// This is SERVER side, so let's make displaying labels easier:
// use:  < %- L('[labelKey]') % >
var L = function(key) { return data.labels.getLabel(key); };
var pL = function(prependText, key) {
    // prepend the given text to the result of the label
    var label = $(L(key)).prepend(prependText);
    return $('<div>').append(label).html();
};
%>

<style type="text/css">
    #dbAdmin-container td > div {
        display: none;
    }
</style>

<table id="dbAdmin-container" width="100%">
    <tr>
        <td class="well">
            <div id="object-list"></div>
            <div id="attribute-set-list"></div>
            <div id="attribute-list"></div>
        </td>
        <td class="well">
            <div id="object-details"></div>
            <div id="attribute-set-details"></div>
            <div id="attribute-details"></div>
        </td>
    </tr>
</table>