<!-- Beginning Dbadmin view definition -->
<%
var $ = AD.jQuery;

// This is SERVER side, so let's make displaying labels easier:
// use:  < %- L('[labelKey]') % >
var L = function(key) { return data.labels.getLabel(key); };
var pL = function(prependText, key) {
    // prepend the given text to the result of the label
    var label = $(L(key)).prepend(prependText);
    return $('<div>').append(label).html();
};
%>

<style type="text/css">
    #dbAdmin-container td {
        vertical-align: top;
    }
    #dbAdmin-container td > div {
        display: none;
    }
    .item-list-container {
        /*max-width: 15em;*/
        padding-top: 0; /* compensate for the large H3 margins */
    }
    .item-list {
        /* scrollable list */
        max-height: 15em;
        overflow: auto;
    }
</style>

<div class="dbAdmin-container">
    <div class="row-fluid">
        <div class="span3 well">
            <div id="object-list"></div>
            <div id="attribute-set-list"></div>
            <div id="attribute-list"></div>
        </div>
        <div class="span9 well">
            <div id="object-details"></div>
            <div id="attribute-set-details"></div>
            <div id="attribute-details"></div>
        </div>
    </div>
</div>
