<%
var $ = AD.jQuery;

// This is SERVER side, so let's make displaying labels easier:
// use:  < %- L('[labelKey]') % >
var L = function(key) { return data.labels.getLabel(key); };
var pL = function(prependText, key) {
    // prepend the given text to the result of the label
    var label = $(L(key)).prepend(prependText);
    return $('<div>').append(label).html();
};
%>
<div id="ui-container" class="container">
Family information

<div id="personList"></div>

<div id="personSummary"></div>

<div class="row-fluid">
    <div id="attributeSetList" class="span4 well"></div>
    <div id="attributeSetDetail" class="span8 well form-horizontal">
    </div>
</div>
</div>



